.input {
  width: 100%;
  outline: none;
  display: block;
  border: none;
  background: #e9e9e9;
  padding: 8px 0 8px 16px;
  font-family: 'Roboto Mono', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  color: black;
  border-radius: 11px;

  &::placeholder {
    color: #707070;
    opacity: 1;
  }
}