.main {
  width: 800px;
  max-width: 90%;
}

.header {
  border-radius: 8px;
  height: 40px !important;
  width: 520px !important;
}

.body {
  border-radius: 8px;
  height: 250px !important;
  width: 90% !important;
  max-width: 90% !important;
}