.name {
  font-family: 'Roboto Mono', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 116.7%;
  letter-spacing: -1.5px;
  color: #2196F3;
  text-align: center;
  width: 100%;
  padding-top: 12px;
  cursor: pointer;
  user-select: none;
}