.header {
  position: fixed;
  top: 0;
  left: 300px;
  width: calc(100vw - 300px);
  height: 65px;
  background: #ebebeb;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
}

.menu {
  margin-left: 10px;
  display: none;
}

.account {
  font-family: 'Roboto Mono', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 28px;
  cursor: pointer;
  user-select: none;
  margin-left: auto;
  padding: 0 60px 0 0;
  color: #2196F3;
}

@media screen and (max-width: 800px) {
  .header {
    left: 0;
    width: 100vw;
  }


  .account {
    padding: 0 20px 0 0;
  }

  .menu {
    display: block;
  }
}