.main {
  background: #ebebeb;
  height: max-content;
  border-radius: 8px;
  padding: 16px;
}

.header {
  font-family: 'Roboto Mono', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 30px;
  letter-spacing: -1.5px;
  color: #2196F3;
}

.desc {
  font-family: 'Roboto Mono', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: -1.5px;
  color: #000000;
}